---
import "@/styles/global.css";
import { ModeToggle } from "@/components/ModeToggle";
import AppTable from "@/components/AppTable";
---

<!-- shadcn/ui dark theme -->
<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>App List</title>
  </head>

  <body class="min-h-screen">
    <div class="top-0 p-4 flex justify-between w-full">
      <h1 class="text-xl sm:text-2xl font-bold">App List</h1>
      <div class="flex items-center gap-2">
        <a href="https://github.com/ziteh/awesome" class="underline">GitHub</a>
        <ModeToggle client:load />
      </div>
    </div>

    <div class="grid place-items-center content-center px-4">
      <AppTable client:load />
    </div>
  </body>
</html>
